.side-bar {
    position: fixed !important;
    z-index: 103;
    top: 0;
    left: -250px;

    .side-bar-menu {
       width: 250px !important;
       height: 100vh;
       border-radius: 0;
    }

    .side-nav-items {
        .profile {
            .name {
                text-align: center;
                padding: 24px 0px 15px 0px;
            }
        }
    }
}