<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
    <body layout:fragment="body">
        <div class="side-bar">
            <div class="ui inverted left vertical menu side-bar-menu">
                <div th:replace="components/left-nav"></div>
            </div>
        </div>
        <form class="ui form" th:object="${topNavForm}">
            <nav class="ui fixed menu top-nav">
                <a class="item hamburger">
                    <i class="sidebar icon"></i>
                </a>
                <a class="header item company-banner" href="/">
                    <img class="logo" src="/assets/logo.svg"/>
                    <span class="company-name">Black Mesa</span>
                </a>

                <div class="right menu">
                    <div class="item">
                        <div th:replace="~{components/checkbox :: component (fieldName='darkMode', toggle=true, label='Dark Mode')}"></div>
                    </div>
                    <div class="item">
                        <div th:replace="~{components/text-input :: component (fieldName='search', placeholder='Search...', icon='search')}"></div>
                    </div>
                    <a class="ui item" href="/">Logout</a>
                </div>
            </nav>
        </form>
        <nav class="ui left vertical menu side-nav">
            <div th:replace="~{components/left-nav}"></div>
        </nav>
        <div class="ui main-container">
            <div class="ui padded stackable grid">
                <div layout:fragment="main-content"></div>
            </div>
        </div>
        <!-- sidebar javascript -->
        <script type="text/javascript">
            $(function() {

                $(".hamburger").on("click", function() {

                    var dimmer = $("<div>", {
                        "class": "dimmer",
                         click: function() {

                            $(".side-bar").animate({left: "-250px"}, 250, function() {
                                $(".dimmer").remove();
                            });
                        }
                    });

                   $("body").prepend(dimmer);
                   $(".side-bar").animate({left: "0px"}, 250);
                });
            });
        </script>
        <!-- Dark Mode Toggle -->
        <script type="text/javascript">
            $(function() {

                var invertableClasses = [
                        "body",
                        ".ui.button",
                        ".ui.buttons",
                        ".ui.checkbox",
                        ".ui.form",
                        ".ui.header",
                        ".ui.items",
                        ".ui.main-container",
                        ".ui.menu:not(.side-bar-menu)",
                        ".ui.modal",
                        ".ui.segment",
                        ".ui.statistic",
                        ".ui.table",
                    ];


                $("input[type='checkbox'][name='darkMode']").parent().checkbox({
                    onChecked: function() {
                        $(invertableClasses.join()).addClass("inverted");
                    },
                    onUnchecked: function() {
                        $(invertableClasses.join()).removeClass("inverted");
                    }
                });
            });
        </script>
    </body>
</html>