<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout/app-base}">
    <head>
        <title>Modals</title>
    </head>
    <body layout:fragment="main-content">
        <div class="sixteen wide column">
            <div layout:insert="~{components/header :: component}" with:size="huge" with:text="'Modals'" th:remove="tag"></div>
        </div>
        <div class="sixteen wide column">
            <div layout:replace="~{components/segment :: component}">
                <div layout:fragment="title">
                    <div layout:insert="~{components/header :: component}" with:size="large" with:dividing="true" with:text="'Modal'" with:subHeader="'An example of a modal'" th:remove="tag"></div>
                </div>
                <div layout:fragment="body">
                    <p>A standard Modal</p>
                    <div th:insert="~{components/button :: component}" with:text="'Show Modal'" with:type="button" with:color="primary" with:modalUrl="@{/modals/standard-modal}" th:remove="tag"></div>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div layout:replace="~{components/segment :: component}">
                <div layout:fragment="title">
                    <div layout:insert="~{components/header :: component}" with:size="large" with:dividing="true" with:text="'Basic Modal'" with:subHeader="'Example of a basic modal'" th:remove="tag"></div>
                </div>
                <div layout:fragment="body">
                    <p>An example of a basic modal</p>
                    <div th:insert="~{components/button :: component}" with:text="'Show Basic Modal'" with:type="button" with:color="primary" with:modalUrl="@{/modals/redirect-modal}" with:modalSize="tiny" th:remove="tag"></div>
                </div>
            </div>
        </div>
    </body>
</html>
