<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/app-base}">
    <head>
        <title>Modals</title>
    </head>
    <body layout:fragment="main-content">
        <div class="sixteen wide column">
            <div th:replace="components/header :: component (size='huge', text='Modals')"></div>
        </div>
        <div class="sixteen wide column">
            <div layout:replace="components/segment :: component">
                <div layout:fragment="title">
                    <div th:replace="components/header :: component (size='large', dividing=true, text='Modal', subHeader='An example of a modal')"></div>
                </div>
                <div layout:fragment="body">
                    <p>A standard Modal</p>
                    <div th:replace="components/button :: component(text='Show Modal', type='button', color='primary', id='showStandardModalBtn')"></div>
                </div>
                <!-- TODO: Replace with Modal Template -->
                <div class="ui modal standard-modal">
                    <i class="close icon"></i>
                    <div class="header">
                        Register User
                    </div>
                    <div class="content">
                        <div class="description">
                            <form class="ui form" th:object="${standardModalForm}">
                                <div th:replace="components/text-input :: component (fieldName='username', label='Username', placeholder='Username...')"></div>
                                <div class="three fields">
                                    <div th:replace="components/text-input :: component (fieldName='firstName', label='First Name', placeholder='First Name...')"></div>
                                    <div th:replace="components/text-input :: component (fieldName='middleName', label='Middle Name', placeholder='Middle Name...')"></div>
                                    <div th:replace="components/text-input :: component (fieldName='lastName', label='Last Name', placeholder='Last Name...')"></div>
                                </div>
                                <div class="two fields">
                                    <div th:replace="components/text-input :: component (fieldName='email', type='email', label='Email', placeholder='Email...')"></div>
                                    <div th:replace="components/text-input :: component (fieldName='confirmEmail', type='email', label='Confirm Email', placeholder='Confirm Email...')"></div>
                                </div>
                                <div class="two fields">
                                    <div th:replace="components/text-input :: component (fieldName='password', type='password', label='Password', placeholder='Password...')"></div>
                                    <div th:replace="components/text-input :: component (fieldName='confirmEmail', type='password', label='Confirm Password', placeholder='Confirm Password...')"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="actions">
                        <div th:replace="components/button :: component(text='Cancel', type='button', color='black', action='deny')"></div>
                        <div th:replace="components/button :: component(text='Register', type='button', color='green', action='positive', icon='checkmark')"></div>
                    </div>
                </div>
                <script type="text/javascript">
                $(function () {
                    $("#showStandardModalBtn").on("click", function() {
                        $(".ui.modal.standard-modal").modal("show");
                    });
                });
            </script>
            </div>
        </div>
        <div class="sixteen wide column">
            <div layout:replace="components/segment :: component">
                <div layout:fragment="title">
                    <div th:replace="components/header :: component (size='large', dividing=true, text='Basic Modal', subHeader='Example of a basic modal')"></div>
                </div>
                <div layout:fragment="body">
                    <p>An example of a basic modal</p>
                    <div th:replace="components/button :: component(text='Show Basic Modal', type='button', color='primary', id='showBasicModalBtn')"></div>
                </div>
                <!-- TODO: Replace with Modal Template -->
                <div class="ui basic tiny modal basic-modal">
                    <div class="ui icon header">
                        <i class="history icon"></i>
                        Session Expired
                    </div>
                    <div class="content" style="text-align: center;">
                        <p>Your session has expired, would you like to continue?</p>
                    </div>
                    <div class="actions">
                        <div th:replace="components/button :: component(text='Cancel', type='button', basic=true, color='red', action='cancel', inverted=true)"></div>
                        <div th:replace="components/button :: component(text='Continue', type='button', color='green', action='ok', inverted=true)"></div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $("#showBasicModalBtn").on("click", function() {
                            $(".ui.modal.basic-modal").modal("show");
                        });
                    });
                </script>
            </div>
        </div>
    </body>
</html>
