<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/app-base}">
    <head>
        <title>Modals</title>
    </head>
    <body layout:fragment="main-content">
        <div class="sixteen wide column">
            <div layout:replace="~{components/header :: component (size='huge', text='Modals')}"></div>
        </div>
        <div class="sixteen wide column">
            <div layout:replace="~{components/segment :: component}">
                <div layout:fragment="title">
                    <div layout:replace="~{components/header :: component (size='large', dividing=true, text='Modal', subHeader='An example of a modal')}"></div>
                </div>
                <div layout:fragment="body">
                    <p>A standard Modal</p>
                    <div th:replace="~{components/button :: component(text='Show Modal', type='button', color='primary', modalUrl='/modals/standard-modal')}"></div>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div layout:replace="~{components/segment :: component}">
                <div layout:fragment="title">
                    <div layout:replace="~{components/header :: component (size='large', dividing=true, text='Basic Modal', subHeader='Example of a basic modal')}"></div>
                </div>
                <div layout:fragment="body">
                    <p>An example of a basic modal</p>
                    <div th:replace="~{components/button :: component(text='Show Basic Modal', type='button', color='primary', modalUrl='/modals/redirect-modal', modalSize='tiny')}"></div>
                </div>
            </div>
        </div>
    </body>
</html>
