<html xmlns:th="http://www.thymeleaf.org"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      xmlns:with="http://www.thymeleaf.org/extras/with">
<body th:fragment="component"
      with:text="${text} ?: ''"
      with:id="${id} ?: ''"
      with:type="${type} ?: 'button'"
      with:fluid="${fluid} ?: false"
      with:float="${!#strings.isEmpty(float) ? float + ' floated' : ''}"
      with:color="${color} ?: ''"
      with:icon="${icon} ?: ''"
      with:size="${size} ?: ''"
      with:action="${action} ?: ''"
      with:basic="${basic} ?: false"
      with:loading="${loading} ?: false"
      with:disabled="${disabled} ?: false"
      with:inverted="${inverted} ?: false"
      with:classes="${classes}"
      with:modalUrl="${modalUrl} ?: ''"
      with:modalSize="${modalSize} ?: ''">

    <button th:class="'ui __${fluid ? 'fluid' : ''}__ __${size}__ __${float}__ __${basic ? 'basic' : ''}__ __${color}__ __${action}__ __${disabled ? 'disabled' : ''}__ __${loading ? 'loading' : ''}__ __${inverted ? 'inverted' : ''}__ button'"
            th:classappend="${classes}"
            th:id="${id}"
            th:type="${type}"
            data:modal-url="${!#strings.isEmpty(modalUrl)} ? ${modalUrl} : null"
            data:modal-size="${!#strings.isEmpty(modalSize)} ? ${modalSize} : null"
    >
        <th:block th:if="${!#strings.isEmpty(icon)}">
            <i th:class="'__${icon}__ icon'"></i>
        </th:block>
        [[${text}]]
    </button>

</body>