<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="component (fieldName)"
      th:with="label=${label} ?: '',
               checked=${checked} ?: false,
               toggle=${toggle} ?: false,
               required=${required} ?: false,
               disabled=${disabled} ?: false,
               readonly=${readonly} ?: false,
               hasErrors=${#fields.hasErrors('__${fieldName}__')}"
>

    <div th:class="'__${required ? 'required' : ''}__ field __${hasErrors ? 'error' : ''}__'">
        <div th:class="'ui __${disabled ? 'disabled' : ''}__ __${readonly ? 'read-only' : ''}__ __${toggle ? 'toggle' : ''}__ __${checked ? 'checked' : ''}__ checkbox'">
            <input type="checkbox" th:name="${fieldName}" th:id="${fieldName}" th:checked="${checked}" th:disabled="${disabled}"/>
            <th:block th:if="${!#strings.isEmpty(label)}">
                <label th:for="${label}">[[${label}]]</label>
            </th:block>
        </div>
        <th:block th:if="${hasErrors}">
            <p class="error" th:errors="*{__${fieldName}__}"></p>
        </th:block>
    </div>
    <script type="text/javascript">
        $("input[type='checkbox'][name='[[${fieldName}]]']").parent().checkbox();
    </script>
</body>