<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="component (fieldName)"
      th:with="label=${label} ?: '', placeholder=${placeholder} ?: '', icon=${icon} ?: '', value=${value} ?: ''">

    <div class="field">
        <th:block th:if="${!#strings.isEmpty(label)}">
            <label>[[${label}]]</label>
        </th:block>
        <div class="ui left icon input">
            <th:block th:if="${!#strings.isEmpty(icon)}">
                <i th:class="${icon}" th:classappend="icon"></i>
            </th:block>
            <input type="text" th:name="${fieldName}" th:placeholder="${placeholder}" th:value="${value}">
        </div>
    </div>

</body>