<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with">
<body layout:fragment="component"
      with:basic="${basic} ?: false"
      with:loading="${loading} ?: false"
      with:inverted="${inverted} ?: false">

    <div th:class="'ui __${basic ? 'basic' : ''}__ __${loading ? 'loading' : ''}__ __${inverted ? 'inverted' : ''}__ segment'">
        <div class="title" layout:fragment="title"></div>
        <div class="body" layout:fragment="body"></div>
    </div>

</body>