<html xmlns:th="http://www.thymeleaf.org"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
      xmlns:with="http://www.thymeleaf.org/extras/with">
<body th:fragment="component (fieldName)"
      with:label="${label} ?: ''"
      with:value="${value} ?: ''"
      with:options="${options} ?: null"
      with:defaultText="${defaultText} ?: ''"
      with:search="${search} ?: false"
      with:multiple="${multiple} ?: false"
      with:clearable="${clearable} ?: false"
      with:required="${required} ?: false"
      with:disabled="${disabled} ?: false"
      with:hasErrors="${#fields.hasErrors('__${fieldName}__')}">

    <div th:class="'__${required ? 'required' : ''}__ field __${hasErrors ? 'error' : ''}__'">
        <th:block th:if="${!#strings.isEmpty(label)}">
            <label>[[${label}]]</label>
        </th:block>
        <div th:class="'ui __${search ? 'search' : ''}__ __${multiple ? 'multiple' : ''}__ __${clearable ? 'clearable' : ''}__ __${disabled ? 'disabled' : ''}__ selection dropdown'">
            <input type="hidden" th:field="*{__${fieldName}__}" />
            <i class="dropdown icon"></i>
            <div class="default text">[[${defaultText}]]</div>
            <div class="menu">
                <th:block th:each="entry : ${options}">
                    <div class="item" data:value="${entry.key}">[[${entry.value}]]</div>
                </th:block>
            </div>
            <th:block th:if="${hasErrors}">
                <div th:replace="components/error-message :: component (${fieldName})"></div>
            </th:block>
        </div>
    </div>
    <script type="text/javascript">
        $("input[name='[[${fieldName}]]").parent().dropdown();
    </script>

</body>