<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with">
<div layout:replace="~{components/modal :: component}">
    <div layout:fragment="header">
        Register User
    </div>
    <div layout:fragment="content">
        <form class="ui form" th:method="POST" th:action="@{/modals/standard-modal}" th:object="${form}">
            <div th:replace="~{components/text-input :: component (fieldName='username', label='Username', placeholder='Username...')}"></div>
            <div class="three fields">
                <div th:replace="~{components/text-input :: component (fieldName='firstName', label='First Name', placeholder='First Name...')}"></div>
                <div th:replace="~{components/text-input :: component (fieldName='middleName', label='Middle Name', placeholder='Middle Name...')}"></div>
                <div th:replace="~{components/text-input :: component (fieldName='lastName', label='Last Name', placeholder='Last Name...')}"></div>
            </div>
            <div class="two fields">
                <div th:replace="~{components/text-input :: component (fieldName='email', type='email', label='Email', placeholder='Email...')}"></div>
                <div th:replace="~{components/text-input :: component (fieldName='confirmEmail', type='email', label='Confirm Email', placeholder='Confirm Email...')}"></div>
            </div>
            <div class="two fields">
                <div th:replace="~{components/text-input :: component (fieldName='password', type='password', label='Password', placeholder='Password...')}"></div>
                <div th:replace="~{components/text-input :: component (fieldName='confirmPassword', type='password', label='Confirm Password', placeholder='Confirm Password...')}"></div>
            </div>
            <div class="actions">
                <div th:insert="~{components/button :: component}" with:text="Cancel" with:color="black" with:action="cancel" th:remove="tag"></div>
                <div th:insert="~{components/button :: component}" with:text="Register" with:type="submit" with:color="green" with:icon="checkmark" th:remove="tag"></div>
            </div>
        </form>
    </div>
</div>