<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with">
<div layout:replace="~{components/modal :: component}">
    <div layout:fragment="header" th:remove="tag">
        <div class="ui icon header">
            <i class="history icon"></i>
            Session Expired
        </div>
    </div>
    <div layout:fragment="content">
        <form class="ui form" th:method="POST" th:action="@{/modals/redirect-modal}">
            <p style="text-align: center;">Your session has expired, would you like to continue?</p>
            <div class="actions">
                <div th:insert="~{components/button :: component}" with:text="Cancel" with:color="red" with:action="cancel" th:remove="tag"></div>
                <div th:insert="~{components/button :: component}" with:text="Continue" with:type="submit" with:color="green" th:remove="tag"></div>
            </div>
        </form>
    </div>
</div>