<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with">
<div layout:replace="~{components/modal :: component}">
    <div layout:fragment="header">
        Register User
    </div>
    <div layout:fragment="content">
        <form class="ui form" th:method="POST" th:action="@{/modals/standard-modal}" th:object="${form}">
            <div th:insert="~{components/text-input :: component ('username')}" with:label="'Username'" with:placeholder="'Username...'" th:remove="tag"></div>
            <div class="three fields">
                <div th:insert="~{components/text-input :: component ('firstName')}" with:label="'First Name'" with:placeholder="'First Name...'" th:remove="tag"></div>
                <div th:insert="~{components/text-input :: component ('middleName')}" with:label="'Middle Name'" with:placeholder="'Middle Name...'" th:remove="tag"></div>
                <div th:insert="~{components/text-input :: component ('lastName')}" with:label="'Last Name'" with:placeholder="'Last Name...'" th:remove="tag"></div>
            </div>
            <div class="two fields">
                <div th:insert="~{components/text-input :: component ('email')}" with:type="email" with:label="Email" with:placeholder="'Email...'" th:remove="tag"></div>
                <div th:insert="~{components/text-input :: component ('confirmEmail')}" with:type="email" with:label="'Confirm Email'" with:placeholder="'Confirm Email...'" th:remove="tag"></div>
            </div>
            <div class="two fields">
                <div th:insert="~{components/text-input :: component ('password')}" with:type="password" with:label="'Password'" with:placeholder="'Password...'" th:remove="tag"></div>
                <div th:insert="~{components/text-input :: component ('confirmPassword')}" with:type="password" with:label="'Confirm Password'" with:placeholder="'Confirm Password...'" th:remove="tag"></div>
            </div>
            <div class="actions">
                <div th:insert="~{components/button :: component}" with:text="Cancel" with:color="black" with:action="cancel" th:remove="tag"></div>
                <div th:insert="~{components/button :: component}" with:text="Register" with:type="submit" with:color="green" with:icon="checkmark" th:remove="tag"></div>
            </div>
        </form>
    </div>
</div>