<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/app-base}">
<head>
    <title>Forms</title>
</head>
    <body layout:fragment="main-content">
        <div class="sixteen wide column">
            <h1 class="ui header">Forms</h1>
        </div>
        <div class="sixteen wide column">
            <div class="ui segment well">
                <div>
                    <h2 class="ui header">
                        Basic Form
                        <div class="sub header">Basic Semantic UI Form layout</div>
                    </h2>
                    <div class="ui divider"></div>
                </div>
                <div class="content">
                    <form class="ui form" th:object="${basicExampleForm}">
                        <div th:replace="components/text-input :: component (fieldName='email', type='email', label='Email', placeholder='Email Address...')"></div>
                        <div th:replace="components/text-input :: component (fieldName='password', type='password', label='Password', placeholder='Password...')"></div>
                        <div th:replace="components/textarea :: component (fieldName='textArea', label='Text Area', value='This is a text area')"></div>
                        <div th:replace="components/checkbox :: component (fieldName='terms', label='I agree to to the Terms and Conditions')"></div>
                        <div th:replace="components/select :: component (fieldName='selectedCountry', label='Single Dropdown', options=${basicExampleForm.countries}, search=true)"></div>
                        <div th:replace="components/select :: component (fieldName='selectedCountries', label='Multiple Dropdown', options=${basicExampleForm.countries}, search=true, multiple=true)"></div>
                        <button class="ui right floated primary button">Save</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div class="ui segment well">
                <div>
                    <h2 class="ui header">
                        Form Row
                        <div class="sub header">Example for column based form layout</div>
                    </h2>
                    <div class="ui divider"></div>
                </div>
                <div class="content">
                    <form class="ui form" th:object="${rowExampleForm}">
                        <div th:replace="components/text-input :: component (fieldName='username', label='Username', placeholder='Username...')"></div>
                        <div class="three fields">
                            <div th:replace="components/text-input :: component (fieldName='firstName', label='First Name', placeholder='First Name...')"></div>
                            <div th:replace="components/text-input :: component (fieldName='middleName', label='Middle Name', placeholder='Middle Name...')"></div>
                            <div th:replace="components/text-input :: component (fieldName='lastName', label='Last Name', placeholder='Last Name...')"></div>
                        </div>
                        <div class="two fields">
                            <div th:replace="components/text-input :: component (fieldName='email', type='email', label='Email', placeholder='Email...')"></div>
                            <div th:replace="components/text-input :: component (fieldName='confirmEmail', type='email', label='Confirm Email', placeholder='Confirm Email...')"></div>
                        </div>
                        <div class="two fields">
                            <div th:replace="components/text-input :: component (fieldName='password', type='password', label='Password', placeholder='Password...')"></div>
                            <div th:replace="components/text-input :: component (fieldName='password', type='password', label='Confirm Password', placeholder='Confirm Password...')"></div>
                        </div>
                        <button class="ui right floated primary button">Register</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div class="ui segment well">
                <div>
                    <h2 class="ui header">
                        Inline form
                        <div class="sub header">Example for a Semantic UI inline form</div>
                    </h2>
                    <div class="ui divider"></div>
                </div>
                <div class="content">
                    <form class="ui form" th:object="${inlineExampleForm}">
                        <div class="inline fields">
                            <div th:replace="components/text-input :: component (fieldName='username', label='Username', placeholder='Username...')"></div>
                            <div th:replace="components/text-input :: component (fieldName='password', type='password', label='Password', placeholder='Password...')"></div>
                            <button class="ui right floated primary button">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div class="ui segment well">
                <div>
                    <h2 class="ui header">
                        Icon Inputs
                        <div class="sub header">Input and Button Icons</div>
                    </h2>
                    <div class="ui divider"></div>
                </div>
                <div class="content">
                    <form class="ui form" th:object="${iconExampleForm}">
                        <div class="two fields">
                            <div th:replace="components/text-input :: component (fieldName='search', label='Left Search Icon', icon='search', iconPosition='left', placeholder='Search...')"></div>
                            <div th:replace="components/text-input :: component (fieldName='search', label='Right Search Icon', icon='search', iconPosition='right', placeholder='Search...')"></div>
                        </div>
                        <div class="two fields">
                            <div th:replace="components/text-input :: component (fieldName='search', label='Left Animated Loading Icon', icon='search', iconPosition='left', placeholder='Search...', loading=true)"></div>
                            <div th:replace="components/text-input :: component (fieldName='search', label='Right Animated Loading Icon', icon='search', iconPosition='right', placeholder='Search...', loading=true)"></div>
                        </div>
                        <div>
                            <h3 class="ui dividing header">
                                Loading Button
                            </h3>
                            <button class="ui loading button">Loading</button>
                            <button class="ui primary loading button">Loading</button>
                        </div>
                        <div style="margin-top: 15px;">
                            <h3 class="ui dividing header">
                                Icon Button
                            </h3>
                            <button class="ui button">
                                <i class="icon user"></i>
                                Add Friend
                            </button>
                            <button class="ui primary button">
                                <i class="icon user"></i>
                                Follow
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div class="ui segment well">
                <div>
                    <h2 class="ui header">
                        Required Fields
                        <div  class="sub header">Example of Required Fields</div>
                    </h2>
                    <div class="ui divider"></div>
                </div>
                <div class="content">
                    <form class="ui form" th:object="${requiredExampleForm}">
                        <div th:replace="components/text-input :: component (fieldName='username', label='Username', placeholder='Username...', required=true)"></div>
                        <div th:replace="components/text-input :: component (fieldName='password', type='password', label='Password', placeholder='Password...', required=true)"></div>
                        <button class="ui right floated primary button">Login</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div class="ui segment well">
                <div>
                    <h2 class="ui header">
                        Form Error
                        <div class="sub header">Example of Field Error Handling</div>
                    </h2>
                    <div class="ui divider"></div>
                </div>
                <div class="content">
                    <form class="ui form" th:object="${errorExampleForm}">
                        <div th:replace="components/text-input :: component (fieldName='errorUsername', label='Username', placeholder='Username...', required=true)"></div>
                        <div th:replace="components/text-input :: component (fieldName='errorPassword', type='password', label='Password', placeholder='Password...', required=true)"></div>
                        <button class="ui right floated primary button">Login</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div class="ui segment">
                <div>
                    <h2 class="ui header">
                        Disabled Fields
                        <div class="sub header">Example of Disable Fields</div>
                    </h2>
                    <div class="divider"></div>
                </div>
                <form class="ui form" th:object="${disabledExampleForm}">
                    <div th:replace="components/text-input :: component (fieldName='firstName', label='First Name', placeholder='First Name...', disabled=true)"></div>
                    <div th:replace="components/text-input :: component (fieldName='lastName', label='Last Name', placeholder='Last Name...', disabled=true)"></div>
                </form>
            </div>
        </div>
        <div class="sixteen wide column">
            <div class="ui segment">
                <div>
                    <h2 class="ui header">
                        Read Only Fields
                        <div class="sub header">Example of Read Only Fields</div>
                    </h2>
                    <div class="ui divider"></div>
                </div>
                <form class="ui form" th:object="${readOnlyExampleForm}">
                    <div th:replace="components/text-input :: component (fieldName='firstName', label='First Name', placeholder='First Name...', readonly=true)"></div>
                    <div th:replace="components/text-input :: component (fieldName='firstName', label='First Name', placeholder='First Name...', readonly=true)"></div>
                </form>
            </div>
        </div>
    </body>
</html>