<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/app-base}">
<head>
    <title>Forms</title>
</head>
    <body layout:fragment="main-content">
        <div class="sixteen wide column">
            <div layout:replace="components/header :: component (size='huge', text='Forms')"></div>
        </div>
        <div class="sixteen wide column">
            <div layout:replace="components/segment :: component">
                <div layout:fragment="title">
                    <div layout:replace="components/header :: component (size='large', dividing=true, text='Basic Form', subHeader='Basic Semantic UI Form layout')"></div>
                </div>
                <div layout:fragment="body">
                    <form class="ui form" th:object="${basicExampleForm}">
                        <div th:replace="components/text-input :: component (fieldName='email', type='email', label='Email', placeholder='Email Address...')"></div>
                        <div th:replace="components/text-input :: component (fieldName='password', type='password', label='Password', placeholder='Password...')"></div>
                        <div th:replace="components/textarea :: component (fieldName='textArea', label='Text Area', value='This is a text area')"></div>
                        <div th:replace="components/checkbox :: component (fieldName='terms', label='I agree to to the Terms and Conditions')"></div>
                        <div th:replace="components/select :: component (fieldName='selectedCountry', label='Single Dropdown', options=${basicExampleForm.countries}, search=true)"></div>
                        <div th:replace="components/select :: component (fieldName='selectedCountries', label='Multiple Dropdown', options=${basicExampleForm.countries}, search=true, multiple=true)"></div>
                        <div class="btn-group">
                            <div th:replace="components/button :: component (text='Save', color='primary', float='right')"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div layout:replace="components/segment :: component">
                <div layout:fragment="title">
                    <div layout:replace="components/header :: component (size='large', dividing=true, text='Form Row', subHeader='Example for column based form layout')"></div>
                </div>
                <div layout:fragment="body">
                    <form class="ui form" th:object="${rowExampleForm}">
                        <div th:replace="components/text-input :: component (fieldName='username', label='Username', placeholder='Username...')"></div>
                        <div class="three fields">
                            <div th:replace="components/text-input :: component (fieldName='firstName', label='First Name', placeholder='First Name...')"></div>
                            <div th:replace="components/text-input :: component (fieldName='middleName', label='Middle Name', placeholder='Middle Name...')"></div>
                            <div th:replace="components/text-input :: component (fieldName='lastName', label='Last Name', placeholder='Last Name...')"></div>
                        </div>
                        <div class="two fields">
                            <div th:replace="components/text-input :: component (fieldName='email', type='email', label='Email', placeholder='Email...')"></div>
                            <div th:replace="components/text-input :: component (fieldName='confirmEmail', type='email', label='Confirm Email', placeholder='Confirm Email...')"></div>
                        </div>
                        <div class="two fields">
                            <div th:replace="components/text-input :: component (fieldName='password', type='password', label='Password', placeholder='Password...')"></div>
                            <div th:replace="components/text-input :: component (fieldName='password', type='password', label='Confirm Password', placeholder='Confirm Password...')"></div>
                        </div>
                        <div class="btn-group">
                            <div th:replace="components/button :: component(text='Register', color='primary', float='right')"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div layout:replace="components/segment :: component">
                <div layout:fragment="title">
                    <div layout:replace="components/header :: component (size='large', dividing=true, text='Inline form', subHeader='Example for a Semantic UI inline form')"></div>
                </div>
                <div layout:fragment="body">
                    <form class="ui form" th:object="${inlineExampleForm}">
                        <div class="inline fields">
                            <div th:replace="components/text-input :: component (fieldName='username', label='Username', placeholder='Username...')"></div>
                            <div th:replace="components/text-input :: component (fieldName='password', type='password', label='Password', placeholder='Password...')"></div>
                            <div th:replace="components/button :: component(text='Login', color='primary', float='right')"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div layout:replace="components/segment :: component">
                <div layout:fragment="title">
                    <div layout:replace="components/header :: component (size='large', dividing=true, text='Icon Inputs', subHeader='Input and Button Icons')"></div>
                </div>
                <div layout:fragment="body">
                    <form class="ui form" th:object="${iconExampleForm}">
                        <div class="two fields">
                            <div th:replace="components/text-input :: component (fieldName='search', label='Left Search Icon', icon='search', iconPosition='left', placeholder='Search...')"></div>
                            <div th:replace="components/text-input :: component (fieldName='search', label='Right Search Icon', icon='search', iconPosition='right', placeholder='Search...')"></div>
                        </div>
                        <div class="two fields">
                            <div th:replace="components/text-input :: component (fieldName='search', label='Left Animated Loading Icon', icon='search', iconPosition='left', placeholder='Search...', loading=true)"></div>
                            <div th:replace="components/text-input :: component (fieldName='search', label='Right Animated Loading Icon', icon='search', iconPosition='right', placeholder='Search...', loading=true)"></div>
                        </div>
                        <div>
                            <div layout:replace="components/header :: component (size='medium', dividing=true, text='Loading Button')"></div>
                            <div th:replace="components/button :: component(text='Loading', loading=true)"></div>
                            <div th:replace="components/button :: component(text='Loading', color='primary', loading=true)"></div>
                        </div>
                        <div style="margin-top: 15px;">
                            <div layout:replace="components/header :: component (size='medium', dividing=true, text='Icon Button')"></div>
                            <div th:replace="components/button :: component(text='Add Friend', icon='user')"></div>
                            <div th:replace="components/button :: component(text='Follow', color='primary', icon='user')"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div layout:replace="components/segment :: component">
                <div layout:fragment="title">
                    <div layout:replace="components/header :: component (size='large', dividing=true, text='Required Fields', subHeader='Example of Required Fields')"></div>
                </div>
                <div layout:fragment="body">
                    <form class="ui form" th:object="${requiredExampleForm}">
                        <div th:replace="components/text-input :: component (fieldName='username', label='Username', placeholder='Username...', required=true)"></div>
                        <div th:replace="components/text-input :: component (fieldName='password', type='password', label='Password', placeholder='Password...', required=true)"></div>
                        <div class="btn-group">
                            <div th:replace="components/button :: component(text='Login', color='primary', float='right')"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div layout:replace="components/segment :: component">
                <div layout:fragment="title">
                    <div layout:replace="components/header :: component (size='large', dividing=true, text='Form Error', subHeader='Example of Field Error Handling')"></div>
                </div>
                <div layout:fragment="body">
                    <form class="ui form" th:object="${errorExampleForm}">
                        <div th:replace="components/text-input :: component (fieldName='errorUsername', label='Username', placeholder='Username...', required=true)"></div>
                        <div th:replace="components/text-input :: component (fieldName='errorPassword', type='password', label='Password', placeholder='Password...', required=true)"></div>
                        <div class="btn-group">
                            <div th:replace="components/button :: component(text='Login', color='primary', float='right')"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div layout:replace="components/segment :: component">
                <div layout:fragment="title">
                    <div layout:replace="components/header :: component (size='large', dividing=true, text='Disabled Fields', subHeader='Example of Disable Fields')"></div>
                </div>
                <div layout:fragment="body">
                    <form class="ui form" th:object="${disabledExampleForm}">
                        <div th:replace="components/text-input :: component (fieldName='firstName', label='First Name', placeholder='First Name...', disabled=true)"></div>
                        <div th:replace="components/text-input :: component (fieldName='lastName', label='Last Name', placeholder='Last Name...', disabled=true)"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div layout:replace="components/segment :: component">
                <div layout:fragment="title">
                    <div layout:replace="components/header :: component (size='large', dividing=true, text='Read Only Fields', subHeader='Example of Read Only Fields')"></div>
                </div>
                <div layout:fragment="body">
                    <form class="ui form" th:object="${readOnlyExampleForm}">
                        <div th:replace="components/text-input :: component (fieldName='firstName', label='First Name', placeholder='First Name...', readonly=true)"></div>
                        <div th:replace="components/text-input :: component (fieldName='firstName', label='First Name', placeholder='First Name...', readonly=true)"></div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>