<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout/app-base}">
<head>
    <title>Forms</title>
</head>
    <body layout:fragment="main-content">
        <div class="sixteen wide column">
            <div layout:insert="~{components/header :: component}" with:size="huge" with:text="'Forms'" th:remove="tag"></div>
        </div>
        <div class="sixteen wide column">
            <div layout:replace="~{components/segment :: component}">
                <div layout:fragment="title">
                    <div layout:insert="~{components/header :: component}" with:size="large" with:dividing="true" with:text="'Basic Form'" with:subHeader="'Basic Semantic UI Form layout'" th:remove="tag"></div>
                </div>
                <div layout:fragment="body">
                    <form class="ui form" th:object="${basicExampleForm}">
                        <div th:insert="~{components/text-input :: component ('email')}" with:type="email" with:label="'Email'" with:placeholder="'Email Address...'" th:remove="tag"></div>
                        <div th:insert="~{components/text-input :: component ('password')}" with:type="password" with:label="'Password'" with:placeholder="'Password...'" th:remove="tag"></div>
                        <div th:insert="~{components/textarea :: component ('textArea')}" with:label="'Text Area'" with:value="'This is a text area'" th:remove="tag"></div>
                        <div th:insert="~{components/checkbox :: component ('terms')}" with:label="'I agree to to the Terms and Conditions'" th:remove="tag"></div>
                        <div th:insert="~{components/select :: component ('selectedCountry')}" with:label="'Single Dropdown'" with:options="${basicExampleForm.countries}" with:search="true" th:remove="tag"></div>
                        <div th:insert="~{components/select :: component('selectedCountries')}" with:label="'Multiple Dropdown'" with:options="${basicExampleForm.countries}" with:search="true" with:multiple="true" th:remove="tag"></div>
                        <div class="actions">
                            <div th:insert="~{components/button :: component}" th:remove="tag"
                                 with:text="Save"
                                 with:color="primary"
                                 with:float="right">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div layout:replace="~{components/segment :: component}">
                <div layout:fragment="title">
                    <div layout:insert="~{components/header :: component}" with:size="large" with:dividing="true" with:text="'Form Row'" with:subHeader="'Example for column based form layout'" th:remove="tag"></div>
                </div>
                <div layout:fragment="body">
                    <form class="ui form" th:object="${rowExampleForm}">
                        <div th:insert="~{components/text-input :: component ('username')}" with:label="'Username'" with:placeholder="'Username...'" th:remove="tag"></div>
                        <div class="three fields">
                            <div th:insert="~{components/text-input :: component ('firstName')}" with:label="'First Name'" with:placeholder="'First Name...'" th:remove="tag"></div>
                            <div th:insert="~{components/text-input :: component ('middleName')}" with:label="'Middle Name'" with:placeholder="'Middle Name...'" th:remove="tag"></div>
                            <div th:insert="~{components/text-input :: component ('lastName')}" with:label="'Last Name'" with:placeholder="'Last Name...'" th:remove="tag"></div>
                        </div>
                        <div class="two fields">
                            <div th:insert="~{components/text-input :: component ('email')}" with:type="email" with:label="'Email'" with:placeholder="'Email...'" th:remove="tag"></div>
                            <div th:insert="~{components/text-input :: component ('confirmEmail')}" with:type="email" with:label="'Confirm Email'" with:placeholder="'Confirm Email...'" th:remove="tag"></div>
                        </div>
                        <div class="two fields">
                            <div th:insert="~{components/text-input :: component ('password')}" with:type="password"  with:label="'Password'" with:placeholder="'Password...'" th:remove="tag"></div>
                            <div th:insert="~{components/text-input :: component ('confirmPassword')}" with:type="password" with:label="'Confirm Password'" with:placeholder="'Confirm Password...'" th:remove="tag"></div>
                        </div>
                        <div class="actions">
                            <div th:insert="~{components/button :: component}" with:text="Register" with:color="primary" with:float="right" th:remove="tag"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div layout:replace="~{components/segment :: component}">
                <div layout:fragment="title">
                    <div layout:insert="~{components/header :: component}" with:size="large" with:dividing="true" with:text="'Inline form'" with:subHeader="'Example for a Semantic UI inline form'" th:remove="tag"></div>
                </div>
                <div layout:fragment="body">
                    <form class="ui form" th:object="${inlineExampleForm}">
                        <div class="inline fields">
                            <div th:insert="~{components/text-input :: component ('username')}" with:label="'Username'" with:placeholder="'Username...'" th:remove="tag"></div>
                            <div th:insert="~{components/text-input :: component ('password')}" with:type="password" with:label="Password" with:placeholder="'Password...'" th:remove="tag"></div>
                            <div th:insert="~{components/button :: component}" with:text="Login" with:color="primary" with:float="right" th:remove="tag"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div layout:replace="~{components/segment :: component}">
                <div layout:fragment="title">
                    <div layout:insert="~{components/header :: component}" with:size="large" with:dividing="true" with:text="'Icon Inputs'" with:subHeader="'Input and Button Icons'" th:remove="tag"></div>
                </div>
                <div layout:fragment="body">
                    <form class="ui form" th:object="${iconExampleForm}">
                        <div class="two fields">
                            <div th:insert="~{components/text-input :: component ('search')}" with:label="'Left Search Icon'" with:icon="search" with:iconPosition="left" with:placeholder="'Search...'" th:remove="tag"></div>
                            <div th:insert="~{components/text-input :: component ('search')}" with:label="'Right Search Icon'" with:icon="search" with:iconPosition="right" with:placeholder="'Search...'" th:remove="tag"></div>
                        </div>
                        <div class="two fields">
                            <div th:insert="~{components/text-input :: component ('search')}" with:label="'Left Animated Loading Icon'" with:icon="search" with:iconPosition="left" with:placeholder="Search..." with:loading="true" th:remove="tag"></div>
                            <div th:insert="~{components/text-input :: component ('search')}" with:label="'Right Animated Loading Icon'" with:icon="search" with:iconPosition="right" with:placeholder="'Search...'" with:loading="true" th:remove="tag"></div>
                        </div>
                        <div>
                            <div layout:insert="~{components/header :: component}" with:size="medium" with:dividing="true" with:text="'Loading Button'" th:remove="tag"></div>
                            <div th:insert="~{components/button :: component}" with:text="Loading" with:loading="true" th:remove="tag"></div>
                            <div th:insert="~{components/button :: component}" with:text="Loading" with:color="primary" with:loading="true" th:remove="tag"></div>
                        </div>
                        <div style="margin-top: 15px;">
                            <div layout:insert="~{components/header :: component}" with:size="medium" with:dividing="true" with:text="'Icon Button'" th:remove="tag"></div>
                            <div th:insert="~{components/button :: component}" with:text="'Add Friend'" with:icon="user" th:remove="tag"></div>
                            <div th:insert="~{components/button :: component}" with:text="Follow" with:color="primary" with:icon="user" th:remove="tag"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div layout:replace="~{components/segment :: component}">
                <div layout:fragment="title">
                    <div layout:insert="~{components/header :: component}" th:size="large" with:dividing="true" with:text="'Required Fields'" with:subHeader="'Example of Required Fields'" th:remove="tag"></div>
                </div>
                <div layout:fragment="body">
                    <form class="ui form" th:object="${requiredExampleForm}">
                        <div th:insert="~{components/text-input :: component ('username')}" with:label="'Username'" with:placeholder="'Username...'" with:required="true" th:remove="tag"></div>
                        <div th:insert="~{components/text-input :: component ('password')}" with:type="password" with:label="'Password'" with:placeholder="'Password...'" with:required="true" th:remove="tag"></div>
                        <div class="actions">
                            <div th:insert="~{components/button :: component}" with:text="Login" with:color="primary" with:float="right" th:remove="tag"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div layout:replace="~{components/segment :: component}">
                <div layout:fragment="title">
                    <div layout:insert="~{components/header :: component}" with:size="large" with:dividing="true" with:text="'Form Error'" with:subHeader="'Example of Field Error Handling'" th:remove="tag"></div>
                </div>
                <div layout:fragment="body">
                    <form class="ui form" th:object="${errorExampleForm}">
                        <div th:insert="~{components/text-input :: component ('errorUsername')}" with:label="'Username'" with:placeholder="'Username...'" with:required="true" th:remove="tag"></div>
                        <div th:insert="~{components/text-input :: component ('errorPassword')}" with:type="password" with:label="Password" with:placeholder="'Password...'" with:required="true" th:remove="tag"></div>
                        <div class="actions">
                            <div th:insert="~{components/button :: component}" with:text="Login" with:color="primary" with:float="right" th:remove="tag"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div layout:replace="~{components/segment :: component}">
                <div layout:fragment="title">
                    <div layout:insert="~{components/header :: component}" with:size="large" with:dividing="true" with:text="'Disabled Fields'" with:subHeader="'Example of Disable Fields'" th:remove="tag"></div>
                </div>
                <div layout:fragment="body">
                    <form class="ui form" th:object="${disabledExampleForm}">
                        <div th:insert="~{components/text-input :: component ('firstName')}" with:label="'First Name'" with:placeholder="'First Name...'" with:disabled="true" th:remove="tag"></div>
                        <div th:insert="~{components/text-input :: component ('lastName')}" with:label="'Last Name'" with:placeholder="'Last Name...'" with:disabled="true" th:remove="tag"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div layout:replace="~{components/segment :: component}">
                <div layout:fragment="title">
                    <div layout:insert="~{components/header :: component}" with:size="large" with:dividing="true" with:text="'Read Only Fields'" with:subHeader="'Example of Read Only Fields'" th:remove="tag"></div>
                </div>
                <div layout:fragment="body">
                    <form class="ui form" th:object="${readOnlyExampleForm}">
                        <div th:insert="~{components/text-input :: component ('firstName')}" with:label="'First Name'" with:placeholder="'First Name...'" with:readonly="true" th:remove="tag"></div>
                        <div th:insert="~{components/text-input :: component ('lastName')}" with:label="'Last Name'" with:placeholder="'Last Name...'" with:readonly="true" th:remove="tag"></div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>