.ui {
    &.form {
        .field {
            p {
                &.error {
                    padding: 5px 0px 0px 0px;
                    text-align: left;
                    color: #9f3a38;
                }
            }
        }
        .actions {
            padding-top: 1rem;
            text-align: right;
            .button {
                left-margin: .75em;
            }
        }
    }
}