.main-container {
    height: 100vh;
    margin-top: 54px;
    margin-left:250px;
    padding: 15px;
    background-color: #fcfcfc;

    @media screen and (max-width: 992px) {
        margin-left: 50px;
    }

    @media screen and (max-width: 768px) {
        margin-left: 0;
    }
}