.main-container {
    height: 100vh;
    margin-top: 54px;
    margin-left:250px;
    padding: 15px;
    background-color: #fcfcfc;
}

@media screen and (max-width: 700px) {

   .main-container {
        margin-left: 0;
   }
}

@media screen and (max-width: 400px) {

}