.side-nav {
    position: fixed;
    width:250px !important;
    height: 100vh;
    border-radius: 0 !important;
    overflow: auto;
}

.side-nav-icons {
    position: fixed;
    display: none !important;
    width:50px !important;
    height: 100vh;
    margin: 0 !important;
    border-radius: 0 !important;
    overflow: auto;
}

.side-nav-items {
    .profile-name {
        text-align: center;
        padding: 24px 0px 15px 0px;
    }
}

@media screen and (max-width: 967px) {

    .side-nav {
        display: none !important;
    }

    .side-nav-icons {
        display: block !important;
    }
}

@media screen and (max-width: 767px) {

    .side-nav-icons {
        display: none !important;
    }
}

@media screen and (max-width: 400px) {

}
