#topNav {

    .company-banner {
        width: 250px;
        .company-name {
            padding-left: 10px;
        }
    }

    .hamburger {
        display: none;
    }


    @media screen and (max-width: 967px) {
      .company-banner {
          width: 50px;
          .logo {
            margin-left: -5px;
            width: 24px;
          }
          .company-name {
              display: none;
          }
      }
    }

    @media screen and (max-width: 767px) {
      .hamburger {
        display: inline-block;
      }
    }
}