<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Website</title>

        <link th:href="@{/vendor.css}" rel="stylesheet" />
        <link th:href="@{/main.css}" rel="stylesheet" />
        <script th:src="@{/js/vendor.js}"></script>
        <script th:src="@{/js/main.js}"></script>
    </head>
    <body id="login">

        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui teal image header">
                    <img class="image" src="assets/images/logo.png">
                    <div class="content">
                        Log-in to your account
                    </div>
                </h2>
                <form class="ui large form">
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="email" placeholder="E-mail address">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="ui fluid large teal submit button">Login</div>
                    </div>
                    <div class="ui error message"></div>
                </form>
                <div class="ui message">
                    New to us? <a href="#">Sign Up</a>
                </div>
            </div>
        </div>

    </body>
</html>