<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
    <head>
        <title>Login</title>
    </head>
    <body layout:fragment="body">
        <div class="login">
            <div class="ui middle aligned center aligned grid">
                <div class="column">
                    <h2 class="ui image header">
                        <img src="assets/logo.svg" class="image">
                        <div class="content">
                            Log-in to your account
                        </div>
                    </h2>
                    <form class="ui large form" method="POST" action="/" th:object="${form}">
                        <div class="ui stacked segment">
                            <div th:replace="components/text-input :: component (fieldName='email', type='email', placeholder='E-mail address', icon='user', iconPosition='left')"></div>
                            <div th:replace="components/text-input :: component (fieldName='password', type='password', placeholder='Password', icon='lock', iconPosition='left')"></div>
                            <div th:replace="components/button :: component(text='Login', fluid=true, size='large')"></div>
                        </div>
                    </form>

                    <div class="ui message">
                        New to us? <a href="#">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>